<!DOCTYPE html>
<html style="">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="shortcut icon" href="./global-static/images/myAutor.jpg">
    <title itemprop="name">WReptileのyou-留言墙</title>
    <link rel="stylesheet" href="./global-static/css/style5.18.2.css" type="text/css">
    <link rel="stylesheet" href="./global-static/css/OwO.css" type="text/css">
    <link rel="stylesheet" href="./global-static/css/global.css">

</head>

<body class="home blog hfeed"
    style="cursor: url(&quot;/usr/plugins/HoerMouse/static/image/dew/cur01.cur&quot;), default;">

    <!-- 到顶部按钮 -->
    <div class="cd-top-box">
        <a href="#" class="cd-top " style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;"></a>
    </div>

    <!-- 磁吸导航 -->
    <script type="text/javascript" src="./global-static/js/jquery.min.js"></script>
    <script type="text/javascript" src="./global-static/js/global.js"></script>


<!-- 导航栏 -->
<!-- style="background-color: rgba(155, 225, 255, 0.727);" -->
	<header class="site-header" role="banner" style="background-color: rgba(155, 225, 255, 0.727);">
		<div class="site-top">
			<!-- logo则显示 -->
			<div class="site-branding">
				<div class="site-title"><a href="first.html" style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;"><img alt=""
                        src="./first/myImg.png"></a></div>
        </div>
        <div class="lower">
            <nav>
                <ul id="nav_menu" class="menu">
                    <li class="current-menu-item"><a href="index.html"
                            style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;"
                            rel="nofollow noopener noreferrer">🔭站点导航</a></li>
                    <ul id="nav_menu" class="menu">
                        <li class="current-menu-item"><a href="first.html"
                                style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;">🏰博客首页</a>
                        </li>
                        <ul id="nav_menu" class="menu">
                            <li class="current-menu-item">
                                <a href="about.html"
                                    style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;">💡关于本站</a>
                            </li>
                            <ul id="nav_menu" class="menu">
                                <!-- <li class="current-menu-item"><a href="first.html/links.html"
														style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;">🎉友人帐</a>
												</li> -->
                                <ul id="nav_menu" class="menu">
                                    <!-- <li class="current-menu-item"><a href="first.html/archives.html"
															style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;">📁归档</a>
													</li> -->
                                    <ul id="nav_menu" class="menu">
                                        <li class="current-menu-item">
                                            <a href="./messages.html"
                                                style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;">📝留言墙</a>
                                        </li>
                                        <ul id="nav_menu" class="menu">
                                            <li class="current-menu-item">
                                                <a href="./photos.html"
                                                    style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;">📸时光相册</a>
                                            </li>
                                            <li><a href="#"
                                                    style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;">📑资源</a>
                                                <ul class="sub-menu">
                                                    <li><a href="./studynote.html"
                                                            style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;">📄学习笔记</a>
                                                    </li>
                                                    <li><a href="./dataSA/index.html"
                                                        style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;">📟算法可视化</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#"
                                                    style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;">🥚更多</a>
                                                <ul class="sub-menu">
                                                    <li><a href="./birthfire.html"
                                                            style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;">
                                                            🎂生日祝福</a></li>
                                                    <li><a href="./fireworks.html"
                                                            style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;">
                                                            🎇一起看烟花！</a></li>
                                                    <li><a href="./nextyear.html"
                                                            style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;">
                                                            ⏰新年倒计时</a></li>
                                                    <li><a href="./3Dphotos.html"
                                                            style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;">
                                                            📦3D相册</a></li>
                                                    <li><a href="./lovetree.html"
                                                            style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;">
                                                            🎋love树</a></li>
                                                    <li><a href="./xinxin.html"
                                                            style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;">
                                                            ❤️爱心</a></li>
                                                    <li><a href="./manger/login.html"
                                                            style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;">
                                                            🔒WR网站后台管理</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <!-- 隐藏后菜单图标 -->
                                        <i class="iconfont show-nav">菜单图标</i>

                                    </ul>

                                </ul>
                            </ul>
                        </ul>
                    </ul>
                </ul>
            </nav>
        </div>
        <!-- 和风天气插件 -->
        <div id="he-plugin-simple"></div>
        <script>
            WIDGET = {
                "CONFIG": {
                    "modules": "01234",
                    "background": "1",
                    "tmpColor": "FFFFFF",
                    "tmpSize": "16",
                    "cityColor": "FFFFFF",
                    "citySize": "16",
                    "aqiColor": "FFFFFF",
                    "aqiSize": "16",
                    "weatherIconSize": "24",
                    "alertIconSize": "18",
                    "padding": "10px 10px 10px 10px",
                    "shadow": "1",
                    "language": "zh",
                    "borderRadius": "10",
                    "fixed": "true",
                    "vertical": "left",
                    "horizontal": "right",
                    "right": "10",
                    "top": "20",
                    "key": "7c13e85f5a9b4d7684b73c068fb17de2"
                }
            }
        </script>
        <script src="https://widget.qweather.net/simple/static/js/he-simple-common.js?v=2.0"></script>
    </div>
</header>

    <!-- 加载动画-主体 -->
    <section id="main-container">
        <!-- 主页面显示 -->
        <div id="page" class="site wrapper">
            <div class="blank"></div>
            <div class="headertop"></div>
            <div id="content" class="site-content">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main" role="main">
                        <article class="hentry">
                            <header class="entry-header">
                                <h1 class="entry-title">留言墙</h1>
                            </header>
                            <div class="entry-content">
                                <p></p>
                                <!-- <div class="aplayer aplayer-withlrc" data-id="40257206" data-server="netease"
                                    data-type="song" data-auth="cb6981859a049004459a2c745bc6bb8f" data-theme="#ad7a86"
                                    data-preload="auto" data-autoplay="true" data-listmaxheight="340px"
                                    data-order="list">

                                    <div class="aplayer-list" style="max-height: 340px">
                                        <ol style="max-height: 340px">

                                            <li class="aplayer-list-light">
                                                <span class="aplayer-list-cur"
                                                    style="background-color: #ad7a86;"></span>
                                                <span class="aplayer-list-index">1</span>
                                                <span class="aplayer-list-title">我们</span>
                                                <span class="aplayer-list-author">暗杠</span>
                                            </li>

                                        </ol>
                                    </div>
                                </div> -->
                                <p></p>
                                <!-- <h1>留言板</h1> -->
                                <blockquote>
                                    <p>欢迎来到留言墙，有什么想对我说的呢！</p>
                                </blockquote>
                            </div>
                        </article>
                    </main>
                </div>
            </div>


            <section id="comments" class="comments">
                <!-- 输出评论信息 -->
                <div class="comments-main" style="">
                    <h3 id="comments-list-title">📝留言| <a
                            style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;"><span
                                id="messagesAll" class="noticom">16</span>条留言</a></h3>
                    <div id="loading-comments"><span></span>
                    </div>
                    <!-- 评论内容 -->
                    <div id="comments-ajax">
                        <ol class="comment-list">
                            <li class="comment comment-odd depth-1" id="li-comment-100">
                                <div id="comment-100" class="comment_body contents">
                                    <section class="commeta">
                                        <div class="left">
                                            <h4 class="author"><a href="https://wyx.love/" target="_blank"
                                                    rel="nofollow noopener noreferrer"
                                                    style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;"><img
                                                        alt="WReptile" src="./messages/g"
                                                        srcset="//q.qlogo.cn/g?b=qq&amp;nk=439271886&amp;s=160 2x"
                                                        class="avatar avatar-50 photo" height="50" width="50">WReptile
                                                    <span class="isauthor" title="Author"><i
                                                            class="iconfont"></i></span></a></h4>
                                        </div>
                                        <div class="right">
                                            <div class="info"><time datetime="2023-11-06"
                                                    style="color: black;">📅2023年11月06日</time></div>
                                        </div>
                                    </section>
                                    <div class="body">
                                        <p>
                                            <!-- 评论@ -->
                                            good <!-- 评论内容 -->
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ol>
                        <script src="./global-static/js/jquery-1.9.1.min.js"></script>
                        <script>
                            $.getJSON("./global-static/json/messages.json", (resp) => {
                                let result = resp.arrays
                                var content = ''
                                result.forEach(e => {
                                    content = content + `
<ol class="comment-list">
    <li class="comment comment-odd depth-1" id="li-comment-100">
        <div id="comment-100" class="comment_body contents">
            <section class="commeta">
                <div class="left">
                    <h4 class="author"><a href="${e.url}" target="_blank"
                            rel="nofollow noopener noreferrer"
                            style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;">${e.name}
                                <span class="isauthor" title="Author"><i class="iconfont"></i></span></a></h4>
                </div>
                <div class="right">
                    <div class="info"><time datetime="2023-11-06" style="color: black;">📅${e.date}</time></div>
                </div>
            </section>
        <div class="body">
            <p>
                 <!-- 评论内容 -->
                 ${e.message}
            </p>
        </div>
        </div>
    </li>
</ol>
                                    `
                                })
                                document.getElementById('comments-ajax').innerHTML = content
                                document.getElementById('messagesAll').innerHTML = result.length

                            });
                        </script>
                    </div>
                </div>

                <!-- 留言 -->
                <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
                <link rel="stylesheet" href="./global-static/css/element-index.css">
                <element id="vueapp">
                    <p style="text-align: center;">
                        <el-button type="text" @click="dialogVisible = true"
                            style=" border: 1px solid rgb(125, 220, 255);background-color: aquamarine;padding: 20px 30px;">点我留言</el-button>

                    </p>


                    <el-dialog :visible.sync="dialogVisible" width="30%" title="可以留下你的博客网址哦！">
                        <el-form ref="messageInfo" :model="messageInfo" label-width="80px">
                            <el-form-item label="姓名：">
                                <el-input type="text" v-model="messageInfo.name"></el-input>
                            </el-form-item>
                            <el-form-item label="留言：">
                                <el-input type="textarea" v-model="messageInfo.message"></el-input>
                            </el-form-item>
                            <el-form-item label="博客：">
                                <el-input type="你的博客地址：" v-model="messageInfo.url"></el-input>
                            </el-form-item>
                        </el-form>
                        <span slot="footer" class="dialog-footer">
                            <el-button @click="dialogVisible = false">取 消</el-button>
                            <el-button type="primary" @click="onSubmit">确 定</el-button>
                        </span>
                    </el-dialog>
                </element>

                <script src="./global-static/js/vue.js"></script>
                <script src="./global-static/js/element-index.js"></script>
                <script>
                    new Vue({
                        el: '#vueapp',
                        data() {
                            return {
                                messageInfo: {
                                    name: '',
                                    message: '',
                                    url: ''
                                },
                                dialogVisible: false
                            }
                        },
                        methods: {
                            onSubmit() {
                                this.dialogVisible = false
                                // 根据信息写入messages.json

                                // 刷新数据
                                $.getJSON("./global-static/json/messages.json", (resp) => {
                                    let result = resp.arrays
                                    var content = ''
                                    result.forEach(e => {
                                        content = content + `
<ol class="comment-list">
    <li class="comment comment-odd depth-1" id="li-comment-100">
        <div id="comment-100" class="comment_body contents">
            <section class="commeta">
                <div class="left">
                    <h4 class="author"><a href="${e.url}" target="_blank"
                            rel="nofollow noopener noreferrer"
                            style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;">${e.name}
                                <span class="isauthor" title="Author"><i class="iconfont"></i></span></a></h4>
                </div>
                <div class="right">
                    <div class="info"><time datetime="2023-11-06" style="color: black;">📅${e.date}</time></div>
                </div>
            </section>
        <div class="body">
            <p>
                 <!-- 评论内容 -->
                 ${e.message}
            </p>
        </div>
        </div>
    </li>
</ol>
                                    `
                                    })
                                    document.getElementById('comments-ajax').innerHTML = content
                                    document.getElementById('messagesAll').innerHTML = result.length

                                });
                            },
                        }
                    })
                </script>
            </section>
        </div>
    </section>

    <!-- 底部组件 -->
    <iframe scrolling="no" src="./global-static/component/footer.html" frameborder="0" width="1920" height="245"
        allowtransparency="true"></iframe>


    <!-- 页面特效组件实现---------------------------------- -->
    <component id="colophon">
        <!-- 左键气泡特效 -->
        <canvas id="fireworks" style="position: fixed; left: 0px; top: 0px; pointer-events: none;
	 width: 1528px; height: 755px;"></canvas>
        <script type="text/javascript" src="./global-static/js/anime.min.js"></script>
        <script type="text/javascript" src="./global-static/js/fireworks.js"></script>

        <!-- 左键文字特效 -->
        <script type="text/javascript" src="./global-static/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="./global-static/js/左键文字特效.js"></script>

        <!--自定义鼠标右键-->
        <link rel="stylesheet" href="./global-static/css/自定义右键开始.css">
        <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
        <script type="text/javascript" src="./global-static/js/自定义右键开始.js"></script>
        <div class="usercm" style="left: 199px; top: 5px; display: none;">
            <ul>
                <li>
                    <a href="first.html">
                        <i class="fa fa-home fa-fw"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="getSelect();">
                        <i class="fa fa-copy fa-fw"></i>
                        <span>复制</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="baiduSearch();">
                        <i class="fa fa-search fa-fw">
                        </i><span>搜索</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:history.go(1);">
                        <i class="fa fa-arrow-right fa-fw"></i>
                        <span>前进</span></a>
                </li>
                <li>
                    <a href="javascript:history.go(-1);">
                        <i class="fa fa-arrow-left fa-fw"></i>
                        <span>后退</span></a>
                </li>
                <li style="border-bottom:1px solid gray">
                    <a href="javascript:window.location.reload();">
                        <i class="fa fa-refresh fa-fw"></i>
                        <span>重载网页</span>
                    </a>
                </li>
                <li><a href="messages.html">
                        <i class="fa fa-pencil-square-o fa-fw"></i>
                        <span>给我留言</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- 樱花特效 -->
        <script src="./global-static/js/樱花.js"></script>
        <!-- 音乐播放器 -->
        <script src="./global-static/js/gui-MusicPlayer.min.js"></script>
        <div id="gui-MusicPlayer" data-cdnName="https://y.cenguigui.cn/js" data-fadeOutAutoplay
            data-themeColor="gui-sky" data-random="true">
        </div>
    </component>

</body>

</html>