<link rel="stylesheet" href="../css/style5.18.2.css" type="text/css">

<!-- 页底及动态组件 -->
<footer style="background-color: rgba(248, 248, 248, 0.94);" id="colophon" class="site-footer" role="contentinfo">
    <div id="footer" class="site-info">
        <p id="footer-sponsor">
            <a href="https://curl.qcloud.com/muOb9O2F" target="_blank" alt="Server provider"
                rel="nofollow noopener noreferrer"
                style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;"><img
                    src="../images/Tencent_Cloud_logo.svg" alt="腾讯云" style="height: 1.6em;"></a>&nbsp;&nbsp;&nbsp;


            <a href="https://www.aliyun.com/" target="_blank" rel="nofollow noopener noreferrer"
                style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;"><img
                    src="../images/阿里云(1).png" alt="阿里云" style="height: 1.3em;"></a>&nbsp;&nbsp;&nbsp;

            <a href="https://tongji.baidu.com/web/10000228149/overview/index?siteId=15236557" target="_blank" alt="百度"
                rel="nofollow noopener noreferrer"
                style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;"><img
                    src="../images/baidu-icon_1602557232404.svg" alt="百度" style="height: 1.7em;"></a>&nbsp;&nbsp;&nbsp;

            <a href="https://widget.qweather.com/" target="_blank" alt="和风天气"
                rel="nofollow noopener noreferrer"
                style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;"><img
                    src="../images/wi-colorful-banner.png" alt="和风天气" style="height: 1.7em;"></a>&nbsp;&nbsp;&nbsp;
        </p>

        <div class="footertext" style="font-weight: bold;">

            <p>Copyright© 2024-<span id="currYear">2024</span> 转载请注明原文链接 <i class="icon-font icon-sakura rotating"
                    style="color: #ffc0cb;display:inline-block"></i>
                <a href="../../first.html" data-pjax-state=""
                    style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;">版权所有WReptile</a>
                •<img alt="" src="../images/icp.png" style="height: 0.8em;">
                <a href="https://beian.miit.gov.cn/" target="_blank" data-pjax-state=""
                    style="cursor: url(&quot;./global-static/images/cur02.cur&quot;), pointer;"
                    rel="nofollow noopener noreferrer">陕ICP备2024021970号</a><br>
            </p>
            <!-- 年份渲染 -->
            <script>document.getElementById('currYear').innerHTML = new Date().getFullYear()</script>

            <!--存活时间显示-->
            <span id="runtime_span">🎯本站点已诞生: 1天1小时1分1秒</span>
            <script type="text/javascript">
                function show_runtime() {
                    window.setTimeout("show_runtime()", 1000); X = new
                        Date("1/08/2024 08:00:00");
                    Y = new Date(); T = (Y.getTime() - X.getTime()); M = 24 * 60 * 60 * 1000;
                    a = T / M; A = Math.floor(a); b = (a - A) * 24; B = Math.floor(b); c = (b - B) * 60; C = Math.floor((b - B) * 60); D = Math.floor((c - C) * 60);
                    runtime_span.innerHTML = "🎯本站点已诞生: " + A + "天" + B + "小时" + C + "分" + D + "秒"
                } show_runtime();
            </script>

            <!--浏览人数显示-->
            <p class="busuzicss" style="font-size:14px;opacity: 0;" id="visibleCount">
                <span id="busuanzi_container_site_uv" style="margin-right: 3px;display: inline;">
                    <i class="fa fa-users" aria-hidden="true" style="margin-right:5px">访问人数：
                    </i>
                    <span id="busuanzi_value_site_uv" class="visibleTwo">480</span>人
                </span> |
                <span id="busuanzi_container_site_pv" style="margin-left:3px;">
                    <i class="fa fa-eye" aria-hidden="true" style="margin-right:5px">访问次数：</i>
                    <span id="busuanzi_value_site_pv" class="visibleOne">600</span>次
                </span>
            </p>
            <!-- 刷新访问数据 -->
            <script async src="../js/busuanzi.pure.mini.js"></script>
            <script>
                setTimeout(() => {
                    // let visibleTwo = Number(document.querySelector(".visibleTwo").innerText) - 3696932
                    // document.getElementById('busuanzi_value_site_uv').innerHTML = visibleTwo

                    // let visibleOne = Number(document.querySelector(".visibleOne").innerText) - 6325770
                    // document.getElementById('busuanzi_value_site_pv').innerHTML = visibleOne

                    let visibleTwo = Number(document.querySelector(".visibleTwo").innerText)
                    document.getElementById('busuanzi_value_site_uv').innerHTML = visibleTwo

                    let visibleOne = Number(document.querySelector(".visibleOne").innerText)
                    document.getElementById('busuanzi_value_site_pv').innerHTML = visibleOne

                    document.getElementById('visibleCount').style.opacity = "1"
                }, 1000)
            </script>

            <!-- 获取设备唯一标识并持久化（实现访问设置）-实现困难，暂且搁置 -->
            <!-- <script src="../js/jquery-1.9.1.min.js"></script> -->
            <!-- <script>
                var userAgent = navigator.userAgent;
                // console.log("设备标识： " + userAgent);
                $.getJSON("../json/web.json", (resp) => {
                    let result = resp
                    var content = ''
                    let exist = false
                    result.userArrays.forEach(e => {
                        if (userAgent == e) {
                            exist = true
                            return
                        }
                    });
                    if (!exist) {

                        // 不存在写入web.json
                        // 访问人数 + 1
                    }
                    // 写入数据
                    // 次数加1

                    // 刷新数据
                    document.getElementById('busuanzi_value_site_uv').innerHTML = result.peopleNumber
                    document.getElementById('busuanzi_value_site_pv').innerHTML = result.viewNumber
                });
            </script> -->

            <!-- 花样时间渲染 -->
            <canvas id="canvas" style="width:18%;" width="820" height="250"></canvas>
            <script src="../js/clock.js"></script>

        </div>
    </div>
    <!-- 特效集中加载 -->
    <!-- 左键气泡特效 -->
    <canvas id="fireworks" style="position: fixed; left: 0px; top: 0px; pointer-events: none;
				 width: 1528px; height: 755px;"></canvas>
    <script type="text/javascript" src="../js/anime.min.js"></script>
    <script type="text/javascript" src="../js/fireworks.js"></script>

    <!-- 左键文字特效 -->
    <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../js/左键文字特效.js"></script>

    <!--自定义鼠标右键-禁止-->
    <link rel="stylesheet" href="../css/自定义右键开始.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <script type="text/javascript" src="../js/自定义右键开始.js"></script>


</footer>